/* styles.css */

body {
    background-color: #ac9bbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/loginBackgroundPicture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d8b6ff;
  }
  
  .logo img {
    width: 75px;
    height: auto;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    text-align: center;
    margin-top: 100px;
  }
  
  .motto {
    font-style: italic;
    color: #6a0572;
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  label {
    color: #000000;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #393535;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #ac9bbc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .input-field {
    width: 50%;
    padding: 10px;
    margin: 0 auto; /* This centers the element horizontally */
    margin-bottom: 20px;
    border: 1px solid #393535;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
}
  
  .error {
    color: red;
  }

  .hover {
    background-color: #45284f;
}

.login-button:hover {
    background-color: #2f073c;
}

  /* Override default link styles */
.forgot-password-link {
    float: right;
    color: #301934; /* Set the desired link color */
    text-decoration: none; /* Remove underlines */
}

.forgot-password-link:hover {
    color: #b38dc0; /* Set the hover color */
}

/* Reset password button */
.reset-password-button {
    background-color: #301934;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Ensure the button takes up the full width */
    margin: 0 auto; /* Center horizontally */
}

.reset-password-button:hover {
    background-color: #45284f;
}

.back-to-login-link {
    color: #301934; /* Set the desired link color */
    text-decoration: none; /* Remove underlines */
    text-align: center;
    margin-top: 20px;
}

.back-to-login-link:hover {
    color: #b38dc0; /* Set the hover color */
}

.logo-image {
    display: block;
    margin: 0 auto;
    max-width: 10%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}



